:root {
    --primary-color: #FFFFFF;
    --secondary-color: #8D9191;
    --tertiary-color: #00BBFF;
    --font-primary: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    line-height: 1.6;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    /* Cambia el z-index para que sea mayor que el de tu header (104) y tus secciones */
    z-index: 100; 
    /* Esto es CRUCIAL: permite que los clics atraviesen las partículas y lleguen a los botones */
    pointer-events: none; 
    top: 0;
    left: 0;
}

.main-container {
    padding: 132px 40px;
    margin: 0 auto;
    z-index: 102;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

/* ------Barra de navegacion------ */

header {
    background-image: linear-gradient(to right, #0a0090, #0d00c7, #0f00e0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    position: sticky;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    top: 0;
    z-index: 114;
}

header .main-container {
    padding: 6px;
    display: flex;
    justify-content: initial;
    z-index: 104;
}

.navigation-bar {
    padding: 1rem;
    margin: 0;
    display: flex;
    gap: 50px; /* separación entre textos */
    list-style: none; /* quita viñetas */
}

.navigation-bar a {
    color: #FFFFFF;
    text-decoration: none; /* quita el subrayado */
    transition: color 0.2s ease;
}

.navigation-bar a:hover {
    color: black;
    font-weight: bold; /* ejemplo: azul marino */
}

/* ------Seccion Hero Parte principal------ */

.hero-container {
    background-image: linear-gradient(160deg, #00BFFF, #00BFFF, #c300ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 103;
}

.hero-container h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.1rem;
    font-weight: inherit;
    z-index: 104;
}

.hero-container h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    z-index: 104;
}

.hero-container p {
    color: white;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 104;
}

.hero-text {
    max-width: 60%;
}

.hero-img {
    height: auto;
    z-index: 110;
}

.hero-img img {
    border-radius: 200px;
    width: 80%;
    z-index: 111;
}

/* Parte de Informacion Personal. */

.info-container {
    padding: 150px;
    background-image: linear-gradient(170deg, #66CDAA, #1B4D3E);
    display: flex;
    justify-content: center;
    z-index: 101;
}

.info-container .info {
    background-color: whitesmoke;
    border: green solid 5px;
    padding: 20px 20px;
    width: 80%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
    border-radius: 25px;
}

.info-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Parte del Formulario */

.contact-container {
    background-image: linear-gradient(160deg, #da7800, #ffa73c);
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
}

.contact-container h3 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.contact {
    padding: 80px 80px;
    margin: 20px;
    max-width: 400px;
    background: #FFFFFF;
    font-size: 1.2rem;
    border: orangered solid 3px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
}

.contact form label {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.contact form input {
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: black solid 3px;
    width: 100%;
    height: 100%;
}

.contact form textarea {
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: black solid 3px;
    width: 100%;
    height: 100px;
}

.contact form button {
    padding: 10px 45px;
    background-color: #ff8800;
    color: white;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-items: center;
}

.contact form button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
/* Parte de Footer */

footer .footer-container {
    background-color: cornflowerblue;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    padding: 20px 60px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    z-index: 103;
}

/* ------NUEVA SECCION SOBRE MI------ */

.secondary-container {
    padding: 100px 20px;
    margin: 0 auto;
}

.about-container {
    background-image: linear-gradient(40deg, #00BFFF, #00BFFF, #c300ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container h1 {
    font-size: 2.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.about-text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    text-align: left;
    margin-right: 120px;
}

.me-img {
    width: 150%;
    height: auto;
}

.me-img img {
    width: 90%;
    border: black solid 5px;
    border-radius: 30%;
}

/* ------NUEVA SECCION PORTAFOLIO------ */

.three-container {
    background-color:ghostwhite;
    padding: 220px 80px;
    margin: 0 auto;
    z-index: 101;
}

.three-container h1 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    z-index: 104;
}

.three-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.29rem;
    text-align: center;
}

.projects-container {
    background-color: ghostwhite;
    padding: 100px 60px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.projects {
    padding: 12px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    z-index: 110;
    /* --- NUEVO CODIGO PARA BORDE GRADIENTE --- */
    /* 1. Definimos el grosor del borde y lo hacemos transparente */
    border: 5px solid transparent;

    /* 2. Definimos dos fondos:
          - El primero es el color interno de la tarjeta (blanco para que resalte)
          - El segundo es el gradiente que quieres en el borde (de azul a morado aquí) */
    background-image: linear-gradient(white, white),
                      linear-gradient(to right, #00BFFF, #c300ff);

    /* 3. Decimos desde dónde empieza a dibujarse el fondo */
    background-origin: border-box;

    /* 4. La magia: Recortamos el primer fondo para que solo cubra el contenido,
          y dejamos que el segundo fondo (el gradiente) cubra todo hasta el borde */
    background-clip: padding-box, border-box;
    /* ---------------------------------------- */
}

.project1:hover  {
    color: #00BBFF;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 1px 6px 8px 2px #00BFFF;
}

.project2:hover  {
    color: yellowgreen;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 1px 6px 8px 2px #c300ff;
}

.project3:hover  {
    color: red;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 1px 4px 8px 2px #00BFFF;

}

.project4:hover  {
    color: orange;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 1px 4px 8px 2px #c300ff;
}

.project-img {
    width: 100%;
}

.skill-container {
    background-color: ghostwhite;
    z-index: 100;
}

.skills-text h1 {
    font-size: 2.7rem;
    text-align: center;
    font-weight: inherit;
}

.skills {
    padding: 20px 40px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    z-index: 101;
}

.skill:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}

.skills li {
    width: 50px;
    height: 50px;
}

.skills img {
    width: 155%;
    height: auto;
}

/* ------MEDIA QUERIES------ */
@media (max-width: 480px) {

/* DISEÑO RESPONSIVO PARA BARRA DE NAVEGACION. */

    .navigation-bar {
        gap: 30px;
        font-size: 1.1rem;
    }

/* DISEÑO RESPONSIVO PARA SECCION HERO. */

    .hero-container {
        padding: 60px;
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .hero-img img {
        width: 100%;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .info-container {
        padding: 10px;
    }

    .info-container .info {
        width: 100%;
        padding: 10px;
    }

    .info-container p {
        font-size: 18px;
    }

    .contact {
        padding: 20px;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }

/* DISEÑO RESPONSIVO PARA SECCION SOBRE MI. */

    .secondary-container {
        padding: 20px 10px;
    }

    .about-container {
        padding: 25px;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-container p {
        font-size: 19px;
    }

    .about-text p {
        margin-right: 0;
    }

    .me-img img {
        width: 60%;
    }

/* DISEÑO RESPONSIVO PARA SECCION PORTAFOLIO. */

    .three-container {
        padding: 165px 35px;
    }

    .three-container h1 {
        font-size: 2.7rem;
    }

    .three-container p {
        font-size: 1.2rem;
    }

    .skill-container {
        padding: 35px;
    }

    .skill-container h1 {
        font-size: 2.7rem;
    }

    .skill-container p {
        font-size: 1.2rem;
    }

    .skills

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
    }

    .projects-container {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 40px;
    }
} 
