:root {
    --primary-color: #FFFFFF;
    --secondary-color: #8D9191;
    --tertiary-color: #00BBFF;
    --font-primary: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    line-height: 1.6;

}

.container {
    padding: 100px 30px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 5px;
}

/* Barra de navegación */

header {
    background-color: var(--tertiary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    padding: 0;
    display: flex;
    justify-content: center;
}

.navegacion-principal {
    padding: 1rem;
    margin: 0;
    display: flex;
    gap: 20px; /* separación entre textos */
    list-style: none; /* quita viñetas */
}

.navegacion-principal a {
    color: #FFFFFF;
    text-decoration: none; /* quita el subrayado */
    transition: color 0.3s ease;
}

.navegacion-principal a:hover {
    color: #0800FF; /* ejemplo: azul marino */
}

/* Main */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 60%;
}

.hero-img {
    width: 40%;
    height: auto;
}

.hero-img img {
    width: 75%;
}

main .hero-container h1 {
    font-size: 2.5rem;
}

/* Footer */

footer .footer-container {
    background-color: slategray;
    padding: 30px 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}