:root {
    --primary-color: #FFFFFF;
    --secondary-color: #8D9191;
    --tertiary-color: #00BBFF;
    --font-primary: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    line-height: 1.6;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
}

.main-container {
    padding: 136px 40px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 5px;
}

/* ------Barra de navegacion------ */

header {
    background-image: linear-gradient(to right, #515151, #636363, #777777);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    position: sticky;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    top: 0;
    z-index: 104;
}

header .main-container {
    padding: 6px;
    display: flex;
    justify-content: initial;
}

.navigation-bar {
    padding: 1rem;
    margin: 0;
    display: flex;
    gap: 50px; /* separación entre textos */
    list-style: none; /* quita viñetas */
}

.navigation-bar a {
    color: #FFFFFF;
    text-decoration: none; /* quita el subrayado */
    transition: color 0.2s ease;
}

.navigation-bar a:hover {
    color: black;
    font-weight: bold; /* ejemplo: azul marino */
}

/* ------Seccion Hero Parte principal------ */

.hero-container {
    background-image: linear-gradient(to top, #0071a6, #51e8ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 103;
}

.hero-container h1 {
    color: white;
    font-size: 2.3rem;
    font-weight: inherit;
    z-index: 104;
}

.hero-container h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 104;
}

.hero-container p {
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 104;
}

.hero-text {
    max-width: 60%;
}

.hero-img {
    height: auto;
    z-index: 100;
}

.hero-img img {
    width: 75%;
}

/* Parte de Informacion Personal. */

.info-container {
    padding: 140px;
    background-image: linear-gradient(to top, #279a00, #39d600);
    display: flex;
    justify-content: center;
    z-index: 101;
}

.info-container .info {
    background-color: greenyellow;
    border: green solid 5px;
    padding: 20px 20px;
    width: 80%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
    border-radius: 25px;
    z-index: 101;
}

.info-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Parte del Formulario */

.contact-container {
    background-image: linear-gradient(to top, #ff8c00, #ffa75f);
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
}

.contact-container h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.contact {
    padding: 80px 80px;
    margin: 20px;
    max-width: 400px;
    background: #FFFFFF;
    font-size: 1.2rem;
    border: orangered solid 3px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
}

.contact form label {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.contact form input {
    padding: 6px;
    background-color: orange;
    border-radius: 8px;
    border: black solid 2px;
    width: 100%;
    height: 100%;
}

.contact form textarea {
    padding: 6px;
    background-color: orange;
    border-radius: 8px;
    border: black solid 2px;
    width: 100%;
    height: 100px;
}

.contact form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Parte de Footer */

footer .footer-container {
    background-color: cornflowerblue;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    padding: 20px 60px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    z-index: 103;
}

/* ------NUEVA SECCION SOBRE MI------ */

.secondary-container {
    padding: 62px 60px;
    margin: 0 auto;
}

.about-container {
    background-image: linear-gradient(to right, #09affc, #00ddff);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.about-text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-right: 120px;
}

.me-img {
    width: 110%;
    height: auto;
}

.me-img img {
    width: 85%;
    border: black solid 4px;
    border-radius: 50%;
}

/* ------NUEVA SECCION PORTAFOLIO------ */

.three-container {
    background-color:ghostwhite;
    padding: 220px 80px;
    margin: 0 auto;
    z-index: 101;
}

.three-container h1 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    z-index: 104;
}

.three-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.29rem;
    text-align: center;
}

.projects-container {
    background-color: ghostwhite;
    padding: 100px 60px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.projects {
    padding: 12px;
    border-radius: 20px;
    border: blue solid 3px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    z-index: 101;
}

.project1:hover  {
    color: #00BBFF;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    border: lightskyblue solid 3px;
    box-shadow: 1px 4px 8px 2px rgb(0, 195, 255);
}

.project2:hover  {
    color: yellowgreen;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    border: yellowgreen solid 3px;
    box-shadow: 1px 4px 8px 2px rgb(154, 205, 50);
}

.project3:hover  {
    color: red;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    border: red solid 3px;
    box-shadow: 1px 4px 8px 2px rgb(255, 0, 0);

}

.project4:hover  {
    color: orange;
    transform: translateY(-12px);
    transition: 0.2s;
    font-weight: bold;
    border: orange solid 3px;
    box-shadow: 1px 4px 8px 2px rgb(255, 165, 0);
}

.project-img {
    width: 100%;
}

.skill-container {
    background-color: ghostwhite;
    z-index: 100;
}

.skills-text h1 {
    font-size: 2.7rem;
    text-align: center;
    font-weight: inherit;
}

.skills {
    padding: 20px 40px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    z-index: 101;
}

.skill:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}

.skills li {
    width: 50px;
    height: 50px;
}

.skills img {
    width: 155%;
    height: auto;
}

/* ------MEDIA QUERIES------ */
@media (max-width: 480px) {
    .hero-container {
        padding: 50px;
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text p {
        margin-right: 0;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .info-container {
        padding: 10px;
    }

    .info-container .info {
        width: 100%;
        padding: 10px;
    }

    .info-container p {
        font-size: 16px;
    }

    .contact {
        padding: 20px;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }
}


