:root {
    --primary-color: #FFFFFF;
    --secondary-color: #8D9191;
    --tertiary-color: #70BDFF;
    --font-primary: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    background-color: var(--primary-color);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

/* Barra de navegación */

header .container {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    padding: 0;
}

.navegacion-principal ul {

}

.navegacion-principal li {
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
}

.navegacion-principal a {
    color: #FFFFFF;
}

