:root {
    --primary-color: #FFFFFF;
    --secondary-color: #8D9191;
    --tertiary-color: #00BBFF;
    --font-primary: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    line-height: 1.6;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
}

.main-container {
    padding: 160px 40px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 5px;
}

/* Navigation Bar */

header {
    background-color: #1C28AD;
    font-weight: bold;
    font-size: 1.2rem;
    position: sticky;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    top: 0;
    z-index: 1000;
}

header .main-container {
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation-bar {
    padding: 1rem;
    margin: 0;
    display: flex;
    gap: 20px; /* separación entre textos */
    list-style: none; /* quita viñetas */
}

.navigation-bar a {
    color: #FFFFFF;
    text-decoration: none; /* quita el subrayado */
    transition: color 0.3s ease;
}

.navigation-bar a:hover {
    color: black; /* ejemplo: azul marino */
}

/* Hero */

.hero-container {
    background-color: #145C8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.hero-container h1 {
    color: white;
    font-size: 2.3rem;
    font-weight: inherit;
}

.hero-container h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.hero-container p {
    color: white;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
}

.hero-text {
    max-width: 60%;
}

.hero-img {
    width: 40%;
    height: auto;
}

.hero-img img {
    width: 75%;
}

/* Info */

.info-container {
    background-color: #145C8F;
    display: flex;
    justify-content: center;
    z-index: 99;

}

.info-container .info-text {
    background-color: white;
    border: black solid 4px;
    padding: 20px 20px;
    width: 60%;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 1);
    border-radius: 50px;
}

.info-container h2 {
    font-size: 2.0rem;
    text-align: center;
}

.info-container p {
    font-size: 20px;
    text-align: center;
}

/* Formulario */

.contact-container {
    padding: 50px 20px;
    background-color: #145C8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.contact-container h2 {
    font-size: 2.0rem;
}

.contact {
    padding: 80px 100px;
    margin: 20px auto;
    max-width: 420px;
    background-color: white;
    font-size: 1.2rem;
    border: black solid 5px;
    border-radius: 50px;
    box-shadow: 1px 10px 1px 1px rgba(0, 0, 0, 1);
}

/* Footer */

footer .footer-container {
    background-color: cornflowerblue;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    padding: 20px 60px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}

/* -----Parte sobre mi----- */

.secondary-container {
    padding: 100px 60px;
    margin: 0 auto;
}

.about-container {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container h1 {
    font-weight: inherit;
}

.about-text p {
    font-size: 20px;
    text-align: left;
    margin-right: 120px;
}

.me-img {
    width: 110%;
    height: auto;
}

.me-img img {
    width: 90%;
    border: black solid 6px;
    border-radius: 40%;
}

.skill-container {
    background-color: ghostwhite;
}

.skills-text h1 {
    font-size: 2.7rem;
    text-align: center;
    font-weight: inherit;
}

.skills-text p {
    font-size: 1.3rem;
    text-align: center;
}

.skills {
    padding: 100px 100px;
    gap: 75px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.java:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.springboot:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.python:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.php:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.html:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.css:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.tailwindcss:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.javascript:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.typescript:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.react:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.mysql:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.postgresql:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.mongodb:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.git:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.github:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.linux:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.docker:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.skills li {
    width: 50px;
    height: 50px;
}

.skills img {
    width: 140%;
    height: auto;
}

/* -----SECCION PORTAFOLIO----- */

.three-container {
    background-color:ghostwhite;
    padding: 230px 80px;
    margin: 0 auto;
}

.three-container h1 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: inherit;
    z-index: 100;
}

.three-container p {
 font-size: 1.3rem;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
}

.projects-container {
    background-color: ghostwhite;
    padding: 100px 110px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    z-index: 100;
}

.projects {
    padding: 15px;
    border-radius: 20px;
    border: black solid 2px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
    font-family: "Roboto Light", sans-serif;
    z-index: 100;
}

.project1:hover  {
    color: #00BBFF;
    transform: translate(-7px);
    transition: 1.3s;
}

.project2:hover  {
    color: yellowgreen;
    transform: translate(7px);
    transition: 1.3s;
}

.project3:hover  {
    color: red;
    transform: translate(-7px);
    transition: 1.3s;
}

.project4:hover  {
    color: orange;
    transform: translate(7px);
    transition: 1.3s;
}

.project-img {
    width: 100%;
}

/* PARTE CONTACTO */

.four-container {
    background-color: lightcyan;
    padding: 51px 400px;
}

.contact-form {
    padding: 91px 100px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: black solid 4px;
    border-radius: 60px;
    box-shadow: 1px 10px 1px 1px rgba(0, 0, 0, 1);
}